<!DOCTYPE html>
<html>
	<head>
		<link href='/assets/dancer.css' rel='stylesheet' type='text/css'>
	</head>
	<body data-track-id="<%= @card.track_id %>">
		<!-- Demo dependencies -->
		<script src="/assets/dancerjs/Three.js"></script>
		<script src="/assets/dancerjs/Stats.js"></script>
		<script src="/assets/dancerjs/Detector.js"></script>

		<!-- Dancer.js -->
		<script src="/assets/dancerjs/dancer.js"></script>

		<!-- Demo stuff -->
		<script src="/assets/dancerjs/scene.js"></script>
		<script src="/assets/dancerjs/player.js"></script>
	</body>

</html>