  <div class="box">
<div class="box">
  <div class="title" id="cardTitle"><%= @card.name %></div>
  <div id="cardImage">
    <!-- <img class="cardImage" src="app/assets/images/samplePhoto.jpeg" alt="Sample photo"> -->
    <%= image_tag(@card.image, :class => "cardImage" ) if @card.image.present?%>
    
  </div>
  <div id="cardControls">
    <div class="center">
      <!-- <span class="iconButton play"></span> -->
      <span class="iconButton pause"></span>
      <span class="iconButton mute last"></span>
    </div>
    <div class="clear"></div>
  </div>
  <div id="cardDetails">
    <div id="cardMessage">
      <%= @card.message %>
    </div>
    <div id="properties">
      WOW! from <span id="senderName" class="details">George Clooney</span> sent <span id="cardDate" class="">today</span>!
    </div>
  </div>
</div>

<iframe src="http://localhost:8000/?track=70507965/" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; z-index: -1"></iframe>
</div>