<div class="box">
<h1>Your WOW!Card is now on the way!</h1>

<h2>Yihaaaaaa!</h2>


<%= link_to 'Go Home!', cards_path, :class => "bigButton clickable" %>
<%= link_to 'Show me my WOW?!?',  display_path %>
</div>